<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        html,body {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        .scope {
            padding: 0.5rem 1rem;
        }
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 18px;
        }
        .btn {
            border: none;
            background-color: #00B728;
            font-size: 16px;
            color: white;
            padding: 8px 10px;
            border-radius: 8px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #03a426;
        }
        a {
            text-decoration: none;
            color: white !important;
        }
    </style>
</head>
<body>
    <main>
        <div class="scope">
            <h1>Board Game RecCommu</h1>
            <hr>
            <p>สวัสดีครับยินดีต้อนรับเข้าสู่ระบบการเปลี่ยนรหัสผ่านของเว็บไซต์ของเรานะครับ</p>
            <p>หากคุณได้รับอีเมลล์โปรดทำการกดปุ่มด่านล่างนี้ เพื่อทำการยืนยันตัวตนเพื่อเปลี่ยนรหัสผ่านภายใน 5 นาทีนี้</p>
            <%- link %>
        </div>
    </main>
</body>
</html>